// Album info section stuff

.album-info-box {
    //background-color: rgba(52, 172, 224, 0.2);
    font-size: 1.6rem;
    padding-bottom: 4rem;
    text-align: center;
    border-radius: .5rem;
    border-top-right-radius: 4.6rem;
    border-top-left-radius: .8rem;
    box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.37);
    background-image: linear-gradient(to right bottom, rgba(255, 218, 121, .3), rgba(34, 112, 147, .1));
    transition: all .2s;
    position: relative;
    //backface-visibility: hidden; //removes the small glitch on the :hover
    //
    &:hover {
        transform: translateY(-1.4rem) scale(1.04);
    }
    
    &__picture {
        background-blend-mode: screen;
        background-size: cover;
        height: 23rem;
        border-top-right-radius: 4.6rem;
        border-top-left-radius: .8rem;
        -web-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
        
        
        &--1 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1970-Black-Sabbath_Black-Sabbath.jpg);
            box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.4);
        }
        
        &--2 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1970-Black-Sabbath_Paranoid.jpg);
        }
        
        &--3 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1971-Black-Sabbath_Master-Of-Reality.jpg);
        }
        
        &--4 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1972-Black-Sabbath_Vol-4.jpg);
        }
        
        &--5 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1973-Black-Sabbath_Black-Bloody-Sabbath.jpg);
        }
        
        &--6 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1975-Black_Sabbath_Sabotage.jpg);
        }
        
        &--7 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1976-Black-Sabbath_Technical-Ecstasy.jpg);
        }
        
        &--8 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1976-Black-Sabbath_Never-Say-Die.jpg);
        }
        
        &--9 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1980-Black-Sabbath_Heaven-And-Hell.jpg);
        }
        
        &--10 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1981-Black-Sabbath_Mob.jpg);
        }
        
        &--11 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1983-Black-Sabbath_Born.jpg);
        }
        
        &--12 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1986-Black-Sabbath_Seventh-Star.jpg);
        }
        
        &--13 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1987-Black-Sabbath_The-Eternal-Idol.jpg);
        }
        
        &--14 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1989-Black-Sabbath_Headless-Cross.jpg);
        }
        
        &--15 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1990-Black-Sabbath_Tyr.jpg);
        }
        
        &--16 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1992-Black-sabbath_Dehumanizer.jpg);
        }
        
        &--17 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1994-Black-Sabbath_Purposes.jpg);
        }

        &--18 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/1995-Black-Sabbath-Forbidden.jpg);
        }

        &--19 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/2013-Black-Sabbath_13.jpg);
        }
        
        &--20 {
            background-image: linear-gradient(to right bottom, rgba(255, 218, 121, 0.1), rgba(34, 112, 147, 0.1)), url(../img/Studio-Album/2016-Black-Sabbath_The-End.jpg);
        }
    }
    
    &__heading {
        position: absolute;
        font-weight: 900;
        text-transform: uppercase;
        text-align: left;
        top: 20rem;
        color: rgba(0, 0, 0, 0.62); // don't change this color please
        
        &-span {
            padding: 1rem;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            
            &--1 {
                background-image: linear-gradient(to left bottom, rgba(255, 218, 121, 0.7), rgba(34, 112, 147, 0.7));
            }
            
            &--2 {
                background-image: linear-gradient(to right bottom, rgba(248, 139, 99, 0.7), rgba(31, 82, 105, 0.7));
            }
            
            &--3 {
                background-image: linear-gradient(to right top, rgba(86, 67, 250, 0.7), rgba(255, 218, 121, 0.95));
            }
            
            &--4 {
                background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.82), rgba(255, 119, 48, 0.7));
            }
            
            &--5 {
                background-image: linear-gradient(to right top, rgba(255, 142, 142, 0.5), rgba(255, 88, 48, 0.7));
            }
            
            &--6 {
                background-image: linear-gradient(to left bottom, rgba(12, 49, 244, 0.7), rgba(235, 12, 3, 0.7));
            }
            
            &--7 {
                background-image: linear-gradient(to right top, rgba(244, 226, 12, 0.7), rgba(89, 109, 175, 0.5));
            }
            
            &--8 {
                background-image: linear-gradient(to right bottom, rgba(39, 60, 168, 0.6), rgba(64, 65, 57, 0.7));
            }
            
            &--9 {
                background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.7), rgba(67, 116, 193, 0.7));
            }

            &--10 {
                background-image: linear-gradient(to left bottom, rgba(255, 255, 255, 0.82), rgba(255, 119, 48, 0.7));
            }

            &--11 {
                background-image: linear-gradient(to right bottom, rgba(248, 85, 85, 0.5), rgba(255, 88, 48, 0.6));
            }

            &--12 {
                background-image: linear-gradient(to left bottom, rgba(209, 213, 232, 0.9), rgba(32, 33, 28, 0.8));
            }
            
            &--13 {
                background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.5), rgba(195, 190, 82, 0.6));
            }

            &--14 {
                background-image: linear-gradient(to left bottom, rgba(175, 178, 191, 0.9), rgba(35, 36, 32, 0.8));
            }

            &--15 {
                background-image: linear-gradient(to right top, rgba(26, 25, 25, 0.9), rgba(242, 111, 80, 0.5));
            }

            &--16 {
                background-image: linear-gradient(to left top, rgba(86, 67, 250, 0.7), rgba(255, 218, 121, 0.8));
            }
            
            &--17 {
                background-image: linear-gradient(to right top, rgba(107, 92, 244, 0.7), rgba(255, 250, 113, 0.95));
            }
            
            &--18 {
                background-image: linear-gradient(to right top, rgba(240, 23, 23, 0.5), rgba(28, 80, 252, 0.8));
            }
            
            &--19 {
                background-image: linear-gradient(to right bottom, rgba(244, 117, 12, 0.7), rgba(117, 121, 135, 0.5));
            }
            
            &--20 {
                background-image: linear-gradient(to right top, rgba(26, 25, 25, 0.9), rgba(242, 111, 80, 0.5));
            }
        }
    }
    
    &__details {
        padding: .8rem;
        margin-top: 5rem;
        
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            
            li {
                text-align: left;
                font-size: 1.7rem;
                padding: .2rem;
                
                span {
                    font-weight: 600;                    
                }
                
                &:not(:last-child) {
                    border-bottom: .13rem solid $color-white;
                }
            }
        }       
    }
}

.js--show-more {
    display: none;
}
