// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    
    padding: 1.5rem 3.5rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4.5rem;
    font-size: $default-font-size;
    outline: none;
    color: $color-white;
    display: inline-block;
    
    @include respond(phone) {
        padding: 1.1rem 2.6rem;
    }
    
    @include respond(tab-port) {
        padding: 1.2rem 2.7rem;
    }
    
    &--learn-more {
        &:link,
        &:visited {
            color: #fff;
            display: inline-block;
            text-decoration: none;
            position: relative;
        }
        
        &:hover {
            background-image: linear-gradient(to left bottom, rgba(255, 218, 121, 0.5), rgba(34, 112, 147, 0.35));
        }
        
        &:active {
            transform: scale(1.03); 
        }
    }
    
    &--show-more {
        background-image: linear-gradient(to left bottom, rgba(255, 218, 121, 0.5), rgba(34, 112, 147, 0.35));

        &:active {
            transform: scale(1.03);    
        }
    }   
}

