.img-div {
    position: relative;
    
    &__caption {
        position: absolute;
        margin-top: -2rem;
        margin-left: .1rem;
        font-size: $default-font-size;
        font-weight: 700;
        z-index: 1000;
        
        
        @include respond(phone) {
            top: 97%;
            left: 8.45rem;
            transform: translate(-50%, -50%);
            font-size: $default-font-size + .1rem;
        }
        
        @include respond(tab-port) {
            margin-top: -3rem;
        }
    }
    
    
}