.img-div {
    position: relative;
    

    &__caption {
        position: absolute;
        margin-top: -4rem;
        margin-left: 0;
        font-size: $default-font-size;
        font-weight: 700;
        z-index: 1000;
        
        @include respond(phone) {
            top: 96.8% !important;
            left: 10.5rem !important;
            transform: translate(-50%, -50%);
            font-size: $default-font-size + .1rem;
        }
        
        @include respond(tab-port) {
            top: 99.82%;
            left: 10rem;
            transform: translate(-50%, -50%);
            margin-top: -3rem;
        }
    }
}
