// like natours header

.header {
    position: relative;
    
    background-image: linear-gradient(to right bottom, rgba(255, 218, 121, .6), rgba(34, 112, 147, .7)), url(../img/black-sabbath-cover-big.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 1rem .6rem -.6rem $color-white;
    
    height: 85vh;
    
    &:hover, 
    &:active {
        transition: all .2s;
    }
    
    &:hover {
        background-image: linear-gradient(to right bottom, rgba(255, 218, 121, .6), rgba(34, 112, 147, .7)), url(../img/black-sabbath-cover-small.jpg);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
        transform: scale(1.001);
    }
    
    &:active {
        background-image: linear-gradient(to right bottom, rgba(34, 112, 147, .7), rgba(255, 218, 121, .6)), url(../img/black-sabbath-cover-small.jpg);
    }
    
    &__text-box {
        position: absolute;
        top: 88%;
        left: 2%;
    }
    
    @include respond(phone) {
        height: 30vh;
        width: 100%;
    }
}