.tribute-info {

    &__paragraph {
        line-height: 145%;
        margin: 2rem auto;
        text-align: justify;
        font-size: $default-font-size + .5rem;

        
        &--link {
            text-decoration: none;
            margin-left: .6rem;
            font-size: $default-font-size + .5rem;
            text-transform: none;
            
            &:visited {
                //color: rgba(9, 132, 227, 0.63);
            }
        }
        
    }
}
